.app {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #f4f4f4;
}

.main {
  display: flex;
}

.sidebar {
  width: 200px;
  background-color: #f4f4f4;
  padding: 1rem;
}

.dashboard, .form-container, .entity-detail {
  padding: 1rem;
  flex-grow: 1;
}
