# Workflow pro automatické přidávání štítků na základě změn v pull requestu
name: Labeler
on: 
  pull_request_target:

jobs:
  label:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write

    steps:
    - uses: actions/checkout@v4  # Zajistí, že workflow stáhne aktuální kód repozitáře
    - uses: actions/labeler@v4   # Použití akce Labeler
      with:
        repo-token: "${{ secrets.GITHUB_TOKEN }}"  # GitHub token pro autentizaci
